src/main/mule/trains-user-exp-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:trains-user-okta-sapi="http://www.mulesoft.org/schema/mule/trains-user-okta-sapi"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:trains-customer-sapi="http://www.mulesoft.org/schema/mule/trains-customer-sapi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/trains-customer-sapi http://www.mulesoft.org/schema/mule/trains-customer-sapi/current/mule-trains-customer-sapi.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/trains-user-okta-sapi http://www.mulesoft.org/schema/mule/trains-user-okta-sapi/current/mule-trains-user-okta-sapi.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">

	<trains-customer-sapi:config name="Trains_customer_sapi_Config" doc:name="Trains-customer-sapi Config" doc:id="fc83e8d7-6920-4cd6-b8fe-79f169d04182" property_host="localhost" property_port="8082" property_protocol="HTTP" property_basePath="/api/" property_responseTimeout="50000"/>
	<trains-user-okta-sapi:config name="Trains_user_okta_sapi_Config" doc:name="Trains-user-okta-sapi Config" doc:id="0a885d28-8377-4c1d-8210-78a08f4b967d" property_host="localhost" property_port="8083" property_protocol="HTTP" property_basePath="/api/" property_responseTimeout="50000"/>
	
	<flow name="trains-user-exp-api-update-userBy-id" doc:id="a87577aa-d439-4fee-be2c-109e4c9f7744" >
		<trains-customer-sapi:update-user-by-user-id doc:name="Update user by user id" doc:id="36aa5a8a-3ab0-4a14-bb5c-4a4bf708638f" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="d9c4f822-b6bb-4a0d-9723-bc8f27c13c8d" config-ref="JSON_Logger_Config" message="#[payload]" />
	
	</flow>
	<flow name="trains-user-exp-api-delete-userBy-id" doc:id="e1e36027-cd28-4a6b-bb23-979528d1d838" >
		<trains-customer-sapi:delete-user-by-user-id doc:name="Delete user by user id" doc:id="e6e1f7bc-a81d-41c5-b165-aa17faf82f72" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="78a0dfe5-618c-4a67-9230-1a8800e821a0" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-changePassword" doc:id="aa336da8-ce41-4c1f-bb04-f6064e8aeb42" >
		<trains-user-okta-sapi:create-change-password-by-user-id doc:name="Create change password by user id" doc:id="3351ec38-8568-4a78-ba7f-af229cd0795a" config-ref="Trains_user_okta_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="d35a2904-b131-4695-873f-eb03271b8aa6" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-authenticate" doc:id="c2fc810a-ed9b-4d56-b160-f46a2f57173e" >
		<trains-user-okta-sapi:create-authenticate doc:name="Authenticate User" doc:id="be22c840-68b0-4b99-9086-46c7e4d30dbd" config-ref="Trains_user_okta_sapi_Config"/>
		<json-logger:logger doc:name="Logger" doc:id="48d6401e-31f2-4887-aedb-b49c161c48d1" config-ref="JSON_Logger_Config" message="#[payload]" />
		
	</flow>
	<flow name="trains-user-exp-api-forgotPassword" doc:id="e0bc5939-4a40-4880-9d3d-002296aca960" >
		<trains-user-okta-sapi:create-forgot-password-by-user-id doc:name="Create forgot password by user id" doc:id="c435af3d-131e-4647-a0f3-f71c28ae99c5" config-ref="Trains_user_okta_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="f7c77da5-e594-45cc-a4d2-170f70ec2c1f" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-get-userBy-id" doc:id="214ae2e0-d25d-497d-90a2-1376bc0d0fbe" >
		<trains-customer-sapi:get-user-by-user-id doc:name="Get user by user id" doc:id="97b50d90-684a-4c22-9bea-57e7825ca2d5" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="b1b2a3b8-e1c6-442c-a73c-c85cb6dd97bb" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-create-user" doc:id="135786df-3e12-4aba-ba2e-5c442085cca4" >
		<set-variable value="#[payload.phone]" doc:name="Set Variable" doc:id="d99c3f06-ae64-4c45-b4fb-ee041a24174f" variableName="phone"/>
		<ee:transform doc:name="Transform Message" doc:id="3349cc6d-c1e3-49c2-a225-b847e6101211" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	password: payload.password,
	email: payload.email
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<trains-user-okta-sapi:add-user doc:name="Okta Add user" doc:id="0d285500-ed97-413c-8adf-10eb5aa59537" config-ref="Trains_user_okta_sapi_Config" />
		<json-logger:logger doc:name="Logger" doc:id="20bf6d09-716c-4a1d-8c7e-afca07d25898" config-ref="JSON_Logger_Config" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="658d4575-7ffd-444e-8164-d6d74a154b6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	userId: payload.id,
	firstName: payload.profile.firstName,
	lastName: payload.profile.lastName,
	emailId: payload.profile.email,
	phone: vars.phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<trains-customer-sapi:add-customer doc:name="Add Customer MySQL" doc:id="113aa6af-d826-4802-9442-0c951382c33a" config-ref="Trains_customer_sapi_Config" />
		<json-logger:logger doc:name="Logger" doc:id="ee678084-9ec1-431f-81a9-12cd33efa995" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-getAll-users" doc:id="8c6041a7-dbe6-497a-9a14-c406c4a1575d" >
		<trains-customer-sapi:get-all-customer doc:name="Get All customer" doc:id="0696d1c5-e5cf-4dd8-8a01-06632c673de9" config-ref="Trains_customer_sapi_Config"/>
		<json-logger:logger doc:name="Logger" doc:id="8a28b399-3ad7-4596-b8e9-d5772257d0d4" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-getSubscritions-by-userId" doc:id="8d05d8a5-b0c3-4469-b2f7-b4c6186e7bfd" >
		<trains-customer-sapi:get-subscriptions-by-user-id doc:name="Get subscriptions by user id" doc:id="fe4bb6d7-b338-4520-8161-6c5e906b9d36" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="7d3c31ab-e49e-4958-b596-bd70b6e7cf04" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-get-subscriptionId-by-userId" doc:id="cbfac342-91e4-4854-96f2-17f6fa6b995f" >
		<trains-customer-sapi:get-subscriber-by-user-id-subscription-id doc:name="Get subscription id by user id" doc:id="fbc510a6-b7bc-42c7-a59a-2e796fe5f2e7" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<json-logger:logger doc:name="Logger" doc:id="8690856b-8893-47d7-8d91-830d81f93784" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-update-subscription" doc:id="56831fe3-76f6-40ef-80ae-7dfce8171d9b" >
		<trains-customer-sapi:update-subscriber-by-user-id-subscription-id doc:name="Update subscriber by user id subscription id" doc:id="1de44ce7-9229-42e1-a3ba-d2b3109730b1" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<json-logger:logger doc:name="Logger" doc:id="20c92b31-8844-4e9a-8729-225566922a61" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-createSubscription" doc:id="96c403dd-8d45-4248-adfd-cea84af2e5d3" >
		<trains-customer-sapi:create-subscribe-by-user-id doc:name="Create subscribe by user id" doc:id="7378f336-7ca5-49ba-949b-2fa75c966614" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<json-logger:logger doc:name="Logger" doc:id="03699d8d-6db8-4fa4-9be4-9ca513e9fe41" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-deleteSubscrpition" doc:id="9b87d071-69cf-4362-9604-8ffab2b6ac0e" >
		<trains-customer-sapi:delete-subscriber-by-user-id-subscription-id doc:name="Delete subscriber by user id subscription id" doc:id="eebe497e-5c37-4c74-85d7-8e6dd2215e70" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<json-logger:logger doc:name="Logger" doc:id="cc5940f1-3904-497b-b723-d06434f02954" config-ref="JSON_Logger_Config" message="#[payload]" />
	</flow>
</mule>
