src/main/mule/trains-user-eapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:trains-customer-sapi="http://www.mulesoft.org/schema/mule/trains-customer-sapi" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/trains-customer-sapi http://www.mulesoft.org/schema/mule/trains-customer-sapi/current/mule-trains-customer-sapi.xsd">
    <http:listener-config name="trains-user-eapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="trains-user-eapi-config" api="resource::18214c51-423a-4c66-aa63-4bb1f9c554f7:trains-user-eapi:1.0.6:raml:zip:trains-user-eapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="trains-user-eapi-main">
        <http:listener config-ref="trains-user-eapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="trains-user-eapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="trains-user-eapi-console">
        <http:listener config-ref="trains-user-eapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="trains-user-eapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\trains:trains-user-eapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="78070542-d31b-470e-86a8-c125e25c5038" message="Coming soon" />
    </flow>
    <flow name="post:\registrations\createUser:application\json:trains-user-eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="759440aa-e03b-452d-b670-fe02e3850d1f" name="trains-user-exp-api-create-user" />
    </flow>
    <flow name="post:\login:application\json:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="0e2e859d-fa14-4c2a-bbfc-608305f73292" name="trains-user-exp-api-authenticate"/>
    </flow>
    <flow name="put:\users\user\(userId)\subscriptions\subscriber\(subscriberId):application\json:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="a97903f6-b72e-4d97-b310-e436e8ce0c06" name="trains-user-exp-api-update-subscription"/>
    </flow>
    <flow name="patch:\users\user\(userId):application\json:trains-user-eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="242ba2a8-4e4c-4f39-880c-b386bc05f857" name="trains-user-exp-api-update-userBy-id" />
    </flow>
    <flow name="delete:\users\user\(userId)\subscriptions\subscriber\(subscriberId):application\json:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="ce9fc341-8a83-4aaf-9e12-978194259132" name="trains-user-exp-api-deleteSubscrpition"/>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions\subscriber\(subscriberId):trains-user-eapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="subscriberId">attributes.uriParams.'subscriberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  subscription: "1254",
  userId: "12",
  source: "cambridge",
  destination: "Liverpool",
  sourceTime: "2016-02-28T12:41:41.090Z",
  destinationTime: "2016-02-28T16:41:41.090Z",
  remainderTime: "00:30:00"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="0d88fafe-e67b-4afd-b5af-c6555252a8b4" name="trains-user-exp-api-getSubscritions-by-userId"/>
    </flow>
    <flow name="get:\users\user\(userId):trains-user-eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="b328d325-997f-4bd9-b9a5-e64b617c82bc" name="trains-user-exp-api-get-userBy-id" />
    </flow>
    <flow name="post:\users\user\(userId)\activation:application\json:trains-user-eapi-config">
		<logger level="INFO" doc:name="Logger" doc:id="b46b60b4-7bce-4bde-adb7-35052c52cc0c" />
    </flow>
    <flow name="post:\users\user\(userId)\changePassword:application\json:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="96cb681f-d8cc-42e8-989d-dcabce766f37" name="trains-user-exp-api-changePassword"/>
    </flow>
    <flow name="post:\users\user\(userId)\deactivation:application\json:trains-user-eapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="5e35a4f4-c889-4698-997f-11c30147bc86" name="trains-user-exp-api-delete-userBy-id" />
    </flow>
    <flow name="post:\users\user\(userId)\forgotPassword:application\json:trains-user-eapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "answer your security question"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\user\(userId)\subscriptions\subscribe:application\json:trains-user-eapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8984d9f9-5f5f-462d-8357-3cb8323d51f8" name="trains-user-exp-api-createSubscription"/>
    </flow>
</mule>
