src/main/mule/trains-user-exp-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:trains-user-okta-sapi="http://www.mulesoft.org/schema/mule/trains-user-okta-sapi" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:trains-customer-sapi="http://www.mulesoft.org/schema/mule/trains-customer-sapi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/trains-customer-sapi http://www.mulesoft.org/schema/mule/trains-customer-sapi/current/mule-trains-customer-sapi.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/trains-user-okta-sapi http://www.mulesoft.org/schema/mule/trains-user-okta-sapi/current/mule-trains-user-okta-sapi.xsd">
	<trains-customer-sapi:config name="Trains_customer_sapi_Config" doc:name="Trains-customer-sapi Config" doc:id="e202b9df-ce98-4318-ae84-ee53176941af" property_host="localhost" property_port="8082" property_protocol="HTTP" property_basePath="/api/" />
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="2a041645-b800-49ea-9d8f-6a81e36f230c" />
	<trains-user-okta-sapi:config name="Trains_user_okta_sapi_Config" doc:name="Trains-user-okta-sapi Config" doc:id="68c5aa59-d420-48c5-9070-4816b91b81ae" property_host="localhost" property_port="8083" property_protocol="HTTP" property_basePath="/api/"/>
	<flow name="trains-user-exp-api-update-userBy-id" doc:id="a87577aa-d439-4fee-be2c-109e4c9f7744" >
		<trains-customer-sapi:update-user-by-user-id doc:name="Update user by user id" doc:id="36aa5a8a-3ab0-4a14-bb5c-4a4bf708638f" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e513975a-c7c0-422c-bed5-95770e9759b9" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="72e1c66e-dd68-41bb-945f-cbbc183a3584" >
				<logger level="INFO" doc:name="Logger" doc:id="d065b65b-483a-41c4-875a-849a84b3eb14" message="#[error.errorType]"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="trains-user-exp-api-delete-userBy-id" doc:id="e1e36027-cd28-4a6b-bb23-979528d1d838" >
		<trains-customer-sapi:delete-user-by-user-id doc:name="Delete user by user id" doc:id="e6e1f7bc-a81d-41c5-b165-aa17faf82f72" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="9dcea012-ecf0-486e-920a-e9506498dc4f" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-changePassword" doc:id="aa336da8-ce41-4c1f-bb04-f6064e8aeb42" >
		<trains-user-okta-sapi:create-change-password-by-user-id doc:name="Create change password by user id" doc:id="3351ec38-8568-4a78-ba7f-af229cd0795a" config-ref="Trains_user_okta_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e583647d-e73d-4973-b170-8a32ceda2cfc" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-authenticate" doc:id="c2fc810a-ed9b-4d56-b160-f46a2f57173e" >
		<trains-user-okta-sapi:create-authenticate doc:name="Create authenticate" doc:id="be22c840-68b0-4b99-9086-46c7e4d30dbd" config-ref="Trains_user_okta_sapi_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="f7754c9d-580b-4b08-83f7-f96503a0a3ad" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-forgotPassword" doc:id="e0bc5939-4a40-4880-9d3d-002296aca960" >
		<trains-user-okta-sapi:create-forgot-password-by-user-id doc:name="Create forgot password by user id" doc:id="c435af3d-131e-4647-a0f3-f71c28ae99c5" config-ref="Trains_user_okta_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae2e4574-3f5e-4494-acc4-c52fb777ff6b" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-get-userBy-id" doc:id="214ae2e0-d25d-497d-90a2-1376bc0d0fbe" >
		<trains-customer-sapi:get-user-by-user-id doc:name="Get user by user id" doc:id="97b50d90-684a-4c22-9bea-57e7825ca2d5" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="067b5c83-e73f-47f3-8d54-1b27f42e6acc" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-create-user" doc:id="135786df-3e12-4aba-ba2e-5c442085cca4" >
		<set-variable value="#[payload.phone]" doc:name="Set Variable" doc:id="d99c3f06-ae64-4c45-b4fb-ee041a24174f" variableName="phone"/>
		<ee:transform doc:name="Transform Message" doc:id="fc7cef8e-5df4-494f-a65c-4cf138e29a02" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	email: payload.email,
	password: payload.password
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a729e8b3-df16-4d37-aa66-7ef2bdcaab55" message="#[payload]"/>
		<trains-user-okta-sapi:add-user doc:name="Okta Add user" doc:id="0d285500-ed97-413c-8adf-10eb5aa59537" config-ref="Trains_user_okta_sapi_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="980b558c-efda-47a5-aa2c-5a154eb70cc7" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="658d4575-7ffd-444e-8164-d6d74a154b6a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	userId: payload.id,
	firstName: payload.profile.firstName,
	lastName: payload.profile.lastName,
	emailId: payload.profile.email,
	phone: vars.phone
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<trains-customer-sapi:add-customer doc:name="Add Customer MySQL" doc:id="113aa6af-d826-4802-9442-0c951382c33a" config-ref="Trains_customer_sapi_Config" />
		<logger level="INFO" doc:name="Logger" doc:id="99cbbabc-4f2b-41b9-89cf-53b0e7c7c14e" message="#[payload]" />
	</flow>
	<flow name="trains-user-exp-api-getAll-users" doc:id="8c6041a7-dbe6-497a-9a14-c406c4a1575d" >
		<trains-customer-sapi:get-all-customer doc:name="Get All customer" doc:id="0696d1c5-e5cf-4dd8-8a01-06632c673de9" config-ref="Trains_customer_sapi_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="e78fa9f7-edbb-4e3e-b637-9249f42567a5" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-getSubscritions-by-userId" doc:id="8d05d8a5-b0c3-4469-b2f7-b4c6186e7bfd" >
		<trains-customer-sapi:get-subscriptions-by-user-id doc:name="Get subscriptions by user id" doc:id="fe4bb6d7-b338-4520-8161-6c5e906b9d36" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="102fe84c-6ee7-407f-ab71-0da0d66452e9" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-get-subscriptionId-by-userId" doc:id="cbfac342-91e4-4854-96f2-17f6fa6b995f" >
		<trains-customer-sapi:get-subscriber-by-user-id-subscription-id doc:name="Get subscriber by user id subscription id" doc:id="fbc510a6-b7bc-42c7-a59a-2e796fe5f2e7" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c6af35eb-2f43-4fdb-9140-aaadbcf2692c" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-update-subscription" doc:id="56831fe3-76f6-40ef-80ae-7dfce8171d9b" >
		<trains-customer-sapi:update-subscriber-by-user-id-subscription-id doc:name="Update subscriber by user id subscription id" doc:id="1de44ce7-9229-42e1-a3ba-d2b3109730b1" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="724e8a9e-5fe3-4627-aca7-4bd449f31d6b" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-createSubscription" doc:id="96c403dd-8d45-4248-adfd-cea84af2e5d3" >
		<trains-customer-sapi:create-subscribe-by-user-id doc:name="Create subscribe by user id" doc:id="7378f336-7ca5-49ba-949b-2fa75c966614" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="c7429c4c-7840-42b3-943b-e9b0882b8328" message="#[payload]"/>
	</flow>
	<flow name="trains-user-exp-api-deleteSubscrpition" doc:id="9b87d071-69cf-4362-9604-8ffab2b6ac0e" >
		<trains-customer-sapi:delete-subscriber-by-user-id-subscription-id doc:name="Delete subscriber by user id subscription id" doc:id="eebe497e-5c37-4c74-85d7-8e6dd2215e70" config-ref="Trains_customer_sapi_Config" user-id="#[message.attributes.uriParams.userId]" subscription-id="#[message.attributes.uriParams.subscriberId]"/>
		<logger level="INFO" doc:name="Logger" doc:id="2a8c64c1-45b6-4a10-a9c1-1beb06f9b935" message="#[payload]"/>
	</flow>
</mule>
